@import "tailwindcss";

@font-face {
  font-family: 'BreeSerif';
  src: url('/fonts/BreeSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-primary: #009CFF;
  --color-primaryLow: #9DD9FF;
  --color-blackFont: #434343;
  --gradient-primary: linear-gradient(to right top, #009cff, #3cacff, #5fbcff, #7ecbff, #9dd9ff);
}

.bg-gradient-custom {
  background-image: var(--gradient-primary);
}

body {
  font-family: 'BreeSerif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-blackFont);
  font-size: 1rem;
}

html {
  font-size: 16px;
}

body, html {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
